openapi: 3.0.3
info:
  version: 1.0/main/08-08-2024.1
  title: Metarisc API
  description: >-

    ## Introduction à l'API


    Metarisc API est construite autour de REST. L'API a des URL orientées
    ressources, accepte des corps de requête encodés JSON, renvoie des réponses
    encodées JSON et utilise des codes de réponse et des verbes HTTP standards.


    Tous les transferts de données sont conformes au protocole HTTP 1.1 et tous
    les points de terminaison nécessitent le protocole HTTPS. Puisque l’API
    Metarisc est basée sur le protocole HTTP, elle est compatible avec tous les
    langages qui ont une bibliothèque HTTP, comme cURL.


    Metarisc API ne supporte pas les mises à jour en masse. Vous ne pouvez
    travailler qu'avec un objet par requête.


    ## Authentification par tokens d’accès


    Pour intérargir avec l'API Metarisc, vous devez enregistrer votre
    application. L'authentification Metarisc utilise OpenID Connect, un standard
    ouvert utilisé par beaucoup de fournisseurs d'API. OpenID Connect permet aux
    utilisateurs d'autoriser votre application sans donner leur mot de passe.


    Les tokens d’accès permettent à votre application d’accéder à l’API
    Metarisc. Presque tous les points de terminaison de l’API Metarisc exigent
    un token d’accès. Votre demande peut donc en nécessiter un chaque fois que
    vous accédez à un point de terminaison. Ils remplissent généralement deux
    fonctions :

    - Ils permettent à votre application d’accéder aux informations d’un
    utilisateur sans avoir besoin du mot de passe de ce dernier ; Par exemple,
    votre application a besoin de l’e-mail d’un utilisateur pour exécuter une
    fonction.

    - Ils nous permettent d’identifier votre application, son utilisateur et le
    type de données que celui-ci permet à votre application de consulter.


    Tous les appels à l'API Metarisc doivent se faire en HTTPS. Les appels en
    HTTP échoueront.


    ## Organisation connectée


    Pour réaliser des appels en tant que membre d'une organisation Metarisc, les
    requêtes peuvent utiliser l'entête spéciale ```Metarisc-Org-Id```. Assurez
    vous que cette entête contienne un identifiant d'une organisation valide.


    ## Gestion des erreurs


    L'API Metarisc utilise les codes de réponse HTTP conventionnels pour
    indiquer si une requête HTTP a été exécutée avec succès ou non. En général :
    Les codes 2xx indiquent un succès. Les codes 4xx indiquent une erreur côté
    client (un paramètre requis non donné, etc ..). Les codes 5xx indiquent une
    erreur avec le service Metarisc.


    Certains codes 4xx peuvent être gérés par l'application elle même, l'API
    Metarisc donne un code d'erreur qui décrit brièvement l'erreur levée.


    Les erreurs retournées par Metarisc suivent la [RFC
    7807](https://www.rfc-editor.org/rfc/rfc7807). Les erreurs peuvent avoir ces
    propriétés :


    - type (string) : Une référence Uri qui identifie le type de problème ;

    - title (string) : Un résumé du type d'erreur rencontré :

    - status_code (int) : le code de réponse HTTP généré par l'API Metarisc ;

    - detail (string) : La description complète de l'erreur rencontrée ;


    ## Rate Limiting


    Le Rate Limiting - ou limitation du taux - bloque les utilisateurs, les bots
    ou les applications qui sur-utilisent l'API Metarisc ou l'utilisent
    abusivement.


    La limitation du taux est basée sur une combination des suivi des adresses
    IP ainsi que les identifiants des utilisateurs Metarisc dont proviennent les
    requêtes et sur le temps écoulé entre chaque requête.


    Une solution de Rate Limiting mesure le temps entre chaque requête de chaque
    adresse IP et mesure également le nombre de requêtes dans un délai spécifié.
    S'il y a trop de requêtes provenant d'une même adresse IP dans le délai
    imparti, la solution de Rate Limiting ne répondra pas aux requêtes de
    l'adresse IP pendant un certain temps.


    Les entêtes liées au Rate Limiting (RateLimit-Limit, RateLimit-Remaining,
    and RateLimit-Reset) sont basées sur [RateLimit header fields for HTTP
    Internet-Draft](https://datatracker.ietf.org/doc/draft-ietf-httpapi-ratelimit-headers).


    ## Format des dates


    Les formats de date et d'heure causent beaucoup de problèmes de confusion et
    d'interopérabilité sur les services Internet. Cette section aborde les
    standards qu'utilise l'API Metarisc pour améliorer la cohérence et
    l'interopérabilité lors des représentations et des utilisations de la date
    et de l'heure.


    La représentation numérique de la date, de l'heure, des durées et des
    intervales dans Metarisc suit la norme ISO 8601.


    Exemple :

    - Une date suit le format Y-m-d\TH:i:sP (exemple :
    2021-01-03T02:30:00+01:00)

    - Une période entre deux jours suit le format Y-m-d/Y-m-d (exemple :
    2024-01-01/2024-12-31)


    ## Paramètres de requête


    Les paramètres de requête (*query params*) sont un ensemble défini de
    paramètres (paire clé-valeur) attachés à la fin d'une URL utilisée pour
    fournir des informations supplémentaires à l'API Metarisc lors des requêtes.

    Ces paramètres sont généralement facultatifs.

    La documentation de chaque point de terminaison de l'API Metarisc décrira
    tous les paramètres de requête qu'il prend en charge.


    Exemple :


    ```https://api.metarisc.fr/dossiers?page=2&tags=hors_delai&tags=platau```


    Dans cet exemple, nous avons trois paramètres de requête pour une recherche
    de dossiers :

    - Le numéro de page ```page``` demandé ;

    - Les tags ```hors_delai``` et ```platau``` permettant de filtrer la
    recherche.


    Ces paramètres peuvent être utilisés par Metarisc pour traiter la demande en
    la personnalisant.




    ## Pagination


    L'API Metarisc fournit un système de pagination pour l'ensemble des points
    de terminaison donnant des listes de résultats. Par exemple, vous pouvez
    lister l'ensemble des PEI sur une zone, l'ensemble des utilisateurs liés à
    un dossier d'étude.


    Ces points de terminaisons partagent une structure commune :


    ```json

    {
        "data": [...],
        "meta": {
            "pagination": {
                "total": int,
                "count": int,
                "per_page": int,
                "current_page": int,
                "total_pages": int
            }
        }
    }

    ```


    Les réponses paginées représentent une page, triée grâce à une logique (sous
    réserve de l'existence du paramètre ```sort```).


    Si vous ne spécifiez pas les paramètres ```page``` et ```per_page```, vous
    recevrez la première page contenant les 25 premiers éléments. Vous pouvez
    configurer ```page``` et ```per_page``` dans les paramètres de requête.
  contact:
    email: contact@metarisc.fr
    name: Metarisc
    url: https://metarisc.fr
  license:
    url: http://www.cecill.info/licences/Licence_CeCILL-B_V1-fr.html
    name: CECILL-B
servers:
  - url: https://api.metarisc.fr
    description: Production
    x-internal: 0
  - url: https://testlp7ijwog-gateway.functions.fnc.fr-par.scw.cloud
    description: Développement (staging)
    x-internal: 1
  - url: https://testlp7ijwog-mock.functions.fnc.fr-par.scw.cloud
    description: Mock Server (local)
    x-internal: 1
paths:
  /@moi:
    get:
      tags:
        - Moi API
      summary: Utilisateur connecté
      description: >-
        L'utilisateur connecté retourné par ce point de terminaison utilise le
        token d'accès généré par le service OpenID Connect afin de le lier à une
        identité connue de Metarisc. Si l'utilisateur est inconnu une erreur est
        retournée.
      operationId: GetMoi
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Utilisateur'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: moi
      x-extension-metarisc-codegen-operation: moi
      x-extension-metarisc-codegen-scope: moi
  /anomalies:
    get:
      tags:
        - Anomalies API
      summary: Liste des anomalies types de la bibiliothèque DECI
      description: Retourne une liste des anomalies types dans la bibliothèque DECI.
      operationId: PaginateAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: sort
          in: query
          description: >-
            Propriété sur laquelle trier les résultats. L'ordre de tri par
            défaut est croissant (asc) sauf si la propriété est préfixée par un
            trait d'union (-), auquel cas l'ordre de tri sera décroissant
            (desc).
          schema:
            type: string
            pattern: ^-?\w*$
            maxLength: 255
            enum:
              - code
            default: code
        - name: texte
          in: query
          description: Filtre sur le texte de l'anomalie
          schema:
            type: string
            maxLength: 255
        - name: code
          in: query
          description: Filtre sur le code de l'anomalie
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Tableau d'objets contenu dans la page.
                    type: array
                    maxItems: 200
                    items:
                      $ref: '#/components/schemas/AnomalieDECI'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: paginate-anomalies
    post:
      tags:
        - Anomalies API
      summary: Ajout d'une anomalie
      description: Ajout d'une nouvelle anomalie DECI type dans la bibliothèque DECI.
      operationId: PostAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Anomalie DECI
              description: >-
                Anomalie DECI constatée visuellement. Les anomalies DECI
                impactent la disponibilité, la conformité ou l'utilisation d'un
                PEI.
              properties:
                code:
                  description: Référence codifiée de l'anomalie.
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 99999
                texte:
                  description: Description de l'anomalie.
                  type: string
                  maxLength: 255
                indice_de_gravite:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 2
                  enum:
                    - 0
                    - 1
                    - 2
                  description: >-
                    L'indice de gravité permet de classifier l'impact d'une
                    anomalie sur la vie d'un PEI.

                    Nomenclature de l'indice de gravité :

                    - 0 : Réserve ;

                    - 1 : Anomalie ;

                    - 2 : Anomalie bloquante.
              required:
                - code
                - texte
                - indice_de_gravite
              x-extension-metarisc-codegen-schema-src: '#/components/schemas/AnomalieDECI'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalieDECI'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: post-anomalie
  /anomalies/{anomalie_id}:
    delete:
      tags:
        - Anomalies API
      summary: Suppression d'une anomalie type
      description: Suppression d'une anomalie DECI type dans la bibliothèque DECI.
      operationId: DeleteAnomalieAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: anomalie_id
          in: path
          required: true
          description: Anomalie Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '204':
          description: No Content
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: delete-anomalie
    get:
      tags:
        - Anomalies API
      summary: Détails d'une anomalie type
      description: Détails d'une anomalie type DECI présente dans la bibliothèque DECI.
      operationId: GetAnomalieAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: anomalie_id
          in: path
          required: true
          description: Anomalie Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalieDECI'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: get-anomalie
  /commissions:
    get:
      tags:
        - Commissions API
      summary: Liste des commissions
      description: Liste des commissions.
      operationId: PaginateCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Tableau d'objets contenu dans la page.
                    type: array
                    maxItems: 200
                    items:
                      $ref: '#/components/schemas/Commission'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: paginate-commissions
    post:
      tags:
        - Commissions API
      summary: Ajouter une commission
      description: Ajoute une commission.
      operationId: PostCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Commission
              description: Une commission est un organisme compétent pour donner des avis.
              properties:
                type:
                  description: >-
                    Type de la commission (peut être une commission de sécurité,
                    un conseil départemental ...).
                  type: string
                  enum:
                    - Sous-commission départementale
                    - Commission communale
                    - Commission intercommunale
                    - Commission d'arrondissement
                    - CoDERST
                libelle:
                  description: Nom de la commission.
                  type: string
                  maxLength: 255
              required:
                - type
                - libelle
              x-extension-metarisc-codegen-schema-src: '#/components/schemas/Commission'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: post-commission
  /commissions/{commission_id}/dates:
    get:
      tags:
        - Commissions API
      summary: Liste des dates de passage prévues de la commission
      description: Récupération de la liste des dates de passage de la commission.
      operationId: PaginateDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          description: Commission Id
          schema:
            type: string
            maxLength: 255
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Tableau d'objets contenu dans la page.
                    type: array
                    maxItems: 200
                    items:
                      $ref: '#/components/schemas/PassageCommission'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: paginate-commission-dates
    post:
      tags:
        - Commissions API
      summary: Ajout d'une date de passage en commission
      description: Ajout d'une date de passage en commission.
      operationId: PostDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          description: Commission Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Passage en Commission
              description: Représente une date de passage en commission.
              properties:
                date_debut:
                  description: Date de début du passage en commission programmée.
                  type: string
                  format: date-time
                  maxLength: 255
                date_fin:
                  description: Date de fin du passage en commission programmée.
                  type: string
                  format: date-time
                  maxLength: 255
                type:
                  description: Type du passage en commission.
                  type: string
                  enum:
                    - salle
                    - visite_de_securite
                    - groupe_de_visite
                libelle:
                  description: >-
                    Libellé de la date de passage en commission. Souvent utile
                    pour affichage aux utilisateurs.
                  type: string
                  maxLength: 255
              required:
                - date_debut
                - date_fin
                - type
                - libelle
              x-extension-metarisc-codegen-schema-src: '#/components/schemas/PassageCommission'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassageCommission'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: post-commission-date
  /commissions/{commission_id}:
    get:
      tags:
        - Commissions API
      summary: Détails de la commission
      description: Récupération des détails de la commission.
      operationId: GetCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          description: Commission Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: get-commission
  /contacts:
    get:
      tags:
        - Contacts API
      summary: Liste des contacts
      description: Récupération de la liste des contacts.
      operationId: PaginateContacts
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Tableau d'objets contenu dans la page.
                    type: array
                    maxItems: 200
                    items:
                      $ref: '#/components/schemas/Contact'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: contacts
      x-extension-metarisc-codegen-operation: paginate-contacts
      x-extension-metarisc-codegen-visibility: public
  /contacts/{contact_id}:
    delete:
      tags:
        - Contacts API
      summary: Suppression d'un contact
      description: Suppression d'une fiche contact existante.
      operationId: DeleteContactContacts
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: contact_id
          in: path
          required: true
          description: Contact Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '204':
          description: No Content
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: contacts
      x-extension-metarisc-codegen-operation: delete-contact
    get:
      tags:
        - Contacts API
      summary: Détails d'un contact
      description: Récupération d'une fiche contact.
      operationId: GetContactContacts
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: contact_id
          in: path
          required: true
          description: Contact Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: contacts
      x-extension-metarisc-codegen-operation: get-contact
    post:
      tags:
        - Contacts API
      summary: Mise à jour d'un contact
      description: Mise à jour d'une fiche contact existante.
      operationId: PostContactContacts
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: contact_id
          in: path
          required: true
          description: Contact Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Contact
              description: >-
                Représente une "carte de visite" aggrégeant les coordonnées d'un
                contact.
              properties:
                nom:
                  description: Nom de famille du contact.
                  type: string
                  maxLength: 255
                prenom:
                  description: Prénom du contact.
                  type: string
                  maxLength: 255
                fonction:
                  description: La fonction professionnelle d'un contact.
                  type: string
                  maxLength: 255
                telephone_fixe:
                  description: Le numéro de téléphone fixe du contact.
                  type: string
                  maxLength: 255
                telephone_portable:
                  description: Le numéro de téléphone portable du contact.
                  type: string
                  maxLength: 255
                telephone_fax:
                  description: Le numéro de fax du contact.
                  type: string
                  maxLength: 255
                adresse:
                  description: Adresse complète du contact.
                  type: string
                  maxLength: 255
                site_web_url:
                  description: Le site internet du contact.
                  type: string
                  maxLength: 255
                civilite:
                  description: Le titre de civilité utilisé.
                  type: string
                  enum:
                    - M
                    - Mme
                    - Mx
                societe:
                  description: Nom de la société / entreprise liée à ce contact.
                  type: string
                  maxLength: 255
                email:
                  description: Adresse email du contact.
                  type: string
                  maxLength: 255
                observations:
                  description: >-
                    Une chaîne de caractères arbitraire rattachée à l'objet.
                    Souvent utile pour affichage aux utilisateurs.
                  type: string
                  maxLength: 255
              x-extension-metarisc-codegen-schema-src: '#/components/schemas/Contact'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: contacts
      x-extension-metarisc-codegen-operation: update-contact
  /controles_pei/{pei_id}:
    delete:
      tags:
        - Controles Pei API
      summary: Suppression du contrôle PEI
      description: Suppression du contrôle PEI de la tournée DECI.
      operationId: DeletePeiControlesPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          description: Pei Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '204':
          description: No Content
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: controles_pei
      x-extension-metarisc-codegen-operation: delete-controle
    get:
      tags:
        - Controles Pei API
      summary: Détail du PEI contrôlé
      description: Récupération des détails liés au contrôle d'un PEI d'une tournée.
      operationId: GetPeiControlesPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          description: Pei Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TourneeDeciPei'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: controles_pei
      x-extension-metarisc-codegen-operation: get-controle
    post:
      tags:
        - Controles Pei API
      summary: Mise à jour du PEI contrôlé
      description: Mise à jour du PEI contrôlé.
      operationId: PostPeiControlesPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          description: Pei Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Tournée Deci PEI
              description: Objet de contrôle d'un PEI dans le cadre d'une Tournée DECI
              properties:
                date_du_controle:
                  description: Date à laquelle le contrôle a été effectué.
                  type: string
                  format: date-time
                  maxLength: 255
                liste_anomalies:
                  description: Liste des anomalies posées ou à lever suite à ce contrôle.
                  type: array
                  maxItems: 255
                  items:
                    type: object
                    properties:
                      code:
                        description: Code de l'anomalie.
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 255
                      a_lever:
                        description: Si l'anomalie est à lever.
                        type: boolean
                essais_engin_utilise:
                  description: Engin utilisé pour les essais hydrauliques.
                  type: string
                  enum:
                    - aucun
                    - fpt
                    - mpr
                    - ccf
                ordre:
                  description: L'ordre du contrôle dans le livret de tournée.
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 255
              x-extension-metarisc-codegen-schema-src: '#/components/schemas/TourneeDeciPei'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TourneeDeciPei'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: controles_pei
      x-extension-metarisc-codegen-operation: update-controle
  /dates_passage_commission/{date_id}:
    get:
      tags:
        - Dates Passage Commission API
      summary: Détail d'une date de passage en commission
      description: Récupération d'une date de passage en commission.
      operationId: GetDateDatesPassageCommission
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: date_id
          in: path
          required: true
          description: Date Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassageCommission'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: dates_passage_commission
      x-extension-metarisc-codegen-operation: get-commission-date
  /dates_passage_commission/{date_id}/ordre_du_jour:
    get:
      tags:
        - Dates Passage Commission API
      summary: Liste des dossiers d'une date de passage en commission
      description: >-
        Récupération d'une liste de dossiers à l'ordre du jour liés à une date
        de passage en commission.
      operationId: PaginateOrdreDuJourDateDatesPassageCommission
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: date_id
          in: path
          required: true
          description: Date Id
          schema:
            type: string
            maxLength: 255
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - in: header
          name: Metarisc-Org-Id
          description: >-
            Identifiant de l'organisation Metarisc sur laquelle réaliser
            l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Tableau d'objets contenu dans la page.
                    type: array
                    maxItems: 200
                    items:
                      $ref: '#/components/schemas/PassageCommissionDossier'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              $ref: '#/paths/~1erp/get/responses/429/headers/Retry-After'
            RateLimit-Limit:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Limit'
            RateLimit-Reset:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Reset'
            RateLimit-Remaining:
              $ref: '#/paths/~1erp/get/responses/200/headers/RateLimit-Remaining'
            Access-Control-Allow-Origin:
              $ref: >-
                #/paths/~1erp/get/responses/400/headers/Access-Control-Allow-Origin
[...]
