openapi: 3.0.3
info:
  version: 1.0/main/02-12-2025.1
  title: Metarisc API
  description: API REST Metarisc. Consultez https://docs.metarisc.fr pour plus de détails.
  contact:
    email: contact@metarisc.fr
    name: Metarisc
    url: https://metarisc.fr
  license:
    url: http://www.cecill.info/licences/Licence_CeCILL-B_V1-fr.html
    name: CECILL-B
servers:
  - url: https://api.metarisc.fr
    description: Production
    x-internal: 0
  - url: https://testlp7ijwog-gateway.functions.fnc.fr-par.scw.cloud
    description: Développement (staging)
    x-internal: 1
  - url: https://testlp7ijwog-mock.functions.fnc.fr-par.scw.cloud
    description: Mock Server (local)
    x-internal: 1
paths:
  /@moi:
    get:
      tags:
        - Moi API
      summary: Utilisateur connecté
      description: L'utilisateur connecté retourné par ce point de terminaison utilise le token d'accès généré par le service OpenID Connect afin de le lier à une identité connue de Metarisc. Si l'utilisateur est inconnu une erreur est retournée.
      operationId: GetMoi
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Utilisateur'
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: moi
      x-extension-metarisc-codegen-operation: moi
      x-extension-metarisc-codegen-scope: moi
  /anomalies:
    get:
      tags:
        - Anomalies API
      summary: Liste paginée des anomalies types de la bibliothèque DECI
      description: Retourne une liste des anomalies types dans la bibliothèque DECI.
      operationId: PaginateAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: sort
          in: query
          description: Propriété sur laquelle trier les résultats. L'ordre de tri par défaut est croissant (asc) sauf si la propriété est préfixée par un trait d'union (-), auquel cas l'ordre de tri sera décroissant (desc).
          schema:
            description: |-
              Propriété sur lesquelles les résultats seront triés.

              Valeurs possibles :
              * code : ordre croissant sur code (asc).
              * -code : ordre décroissant sur code (desc).
            type: string
            maxLength: 256
            pattern: ^-?\w*$
            enum:
              - code
              - '-code'
            default: code
        - name: texte
          in: query
          description: Filtre sur le texte de l'anomalie
          schema:
            type: string
            maxLength: 8192
        - name: code
          in: query
          description: Filtre sur le code de l'anomalie
          schema:
            type: integer
            format: int32
            maximum: 999999
            minimum: 0
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Tableau d'objets contenu dans la page.
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/AnomalieDECI'
                  meta:
                    description: Métadonnées de la pagination.
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
                    required:
                      - pagination
                required:
                  - data
                  - meta
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: paginate-anomalies
    post:
      tags:
        - Anomalies API
      summary: Ajout d'une anomalie
      description: Ajout d'une nouvelle anomalie DECI type dans la bibliothèque DECI.
      operationId: PostAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Anomalie DECI
              description: Anomalie DECI constatée visuellement. Les anomalies DECI impactent la disponibilité, la conformité ou l'utilisation d'un PEI.
              properties:
                code:
                  description: Référence codifiée de l'anomalie.
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 999999
                texte:
                  description: Description de l'anomalie.
                  type: string
                  maxLength: 8192
                indice_de_gravite:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 2
                  enum:
                    - 0
                    - 1
                    - 2
                  description: |-
                    L'indice de gravité permet de classifier l'impact d'une anomalie sur la vie d'un PEI.

                    Valeurs possibles :
                    * 0 : Réserve.
                    * 1 : Anomalie.
                    * 2 : Anomalie bloquante.
              required:
                - code
                - texte
                - indice_de_gravite
              additionalProperties: false
              x-extension-metarisc-codegen-schema-src: '#/components/schemas/AnomalieDECI'
              x-extension-metarisc-codegen-context: create
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalieDECI'
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: post-anomalie
  /anomalies/{anomalie_id}:
    delete:
      tags:
        - Anomalies API
      summary: Suppression d'une anomalie type
      description: Suppression d'une anomalie DECI type dans la bibliothèque DECI.
      operationId: DeleteAnomalieAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: anomalie_id
          in: path
          required: true
          description: Anomalie Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '204':
          description: No Content
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: delete-anomalie
    get:
      tags:
        - Anomalies API
      summary: Détails d'une anomalie type
      description: Détails d'une anomalie type DECI présente dans la bibliothèque DECI.
      operationId: GetAnomalieAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: anomalie_id
          in: path
          required: true
          description: Anomalie Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalieDECI'
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: get-anomalie
  /commissions:
    get:
      tags:
        - Commissions API
      summary: Liste paginée des commissions
      description: Liste des commissions.
      operationId: PaginateCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: libelle
          in: query
          description: Filtre sur le libellé de la commission
          schema:
            type: string
            maxLength: 256
        - name: type
          in: query
          description: Filtre sur le type de la commission
          schema:
            type: string
            enum:
              - Sous-commission départementale
              - Commission communale
              - Commission intercommunale
              - Commission d'arrondissement
              - CoDERST
            description: |-
              Type de la commission (peut être une commission de sécurité, un conseil départemental ...).

              Valeurs possibles :
              * Sous-commission départementale : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur le département.
              * Commission communale : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur une commune.
              * Commission intercommunale : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur une intercommunalité.
              * Commission d'arrondissement : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur un arrondissement.
              * CoDERST : Conseil départemental de l'environnement et des risques sanitaires et technologiques.
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Tableau d'objets contenu dans la page.
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/Commission'
                  meta:
                    description: Métadonnées de la pagination.
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
                    required:
                      - pagination
                required:
                  - data
                  - meta
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: paginate-commissions
    post:
      tags:
        - Commissions API
      summary: Ajouter une commission
      description: Ajoute une commission.
      operationId: PostCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Commission
              description: Une commission est un organisme compétent pour donner des avis.
              properties:
                type:
                  description: |-
                    Type de la commission (peut être une commission de sécurité, un conseil départemental ...).

                    Valeurs possibles :
                    * Sous-commission départementale : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur le département.
                    * Commission communale : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur une commune.
                    * Commission intercommunale : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur une intercommunalité.
                    * Commission d'arrondissement : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur un arrondissement.
                    * CoDERST : Conseil départemental de l'environnement et des risques sanitaires et technologiques.
                  type: string
                  enum:
                    - Sous-commission départementale
                    - Commission communale
                    - Commission intercommunale
                    - Commission d'arrondissement
                    - CoDERST
                libelle:
                  description: Nom de la commission.
                  type: string
                  maxLength: 256
                presidence_id:
                  description: Identifiant de l'organisation présidant la commission. Par défaut l'organisation tenant la présidence est celle de l'utilisateur connecté.
                  type: string
                  format: uuid
                  maxLength: 36
                  minLength: 36
                secretariat_id:
                  description: Identifiant de l'organisation tenant le secrétariat de la commission. Par défaut l'organisation tenant le secrétariat est celle de l'utilisateur connecté.
                  type: string
                  format: uuid
                  maxLength: 36
                  minLength: 36
                couleur:
                  description: 'Couleur associée à la commission, utilisée notamment pour l''affichage dans les calendriers. La couleur doit être au format hexadécimal sans le symbole ''#'' (Ex: RRGGBB).'
                  type: string
                  maxLength: 6
                  minLength: 6
                  pattern: ^[0-9A-Fa-f]{6}$
              required:
                - type
                - libelle
              additionalProperties: false
              x-extension-metarisc-codegen-schema-src: '#/components/schemas/Commission'
              x-extension-metarisc-codegen-context: create
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: post-commission
  /commissions/{commission_id}/dates:
    get:
      tags:
        - Commissions API
      summary: Liste paginée des dates de passage prévues de la commission
      description: Récupération de la liste des dates de passage de la commission. Cela peut représenter une visite périodique sur site de la commission, ou un passage en salle.
      operationId: PaginateDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          description: Commission Id
          schema:
            type: string
            maxLength: 255
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: from_date
          in: query
          description: Filtre sur les dates de passage programmées à une date supérieure ou égale à celle-ci.
          schema:
            type: string
            format: date
            maxLength: 10
            minLength: 10
        - name: type
          in: query
          description: Filtre sur le type de passage en commission.
          schema:
            type: string
            enum:
              - salle
              - visite_de_securite
              - groupe_de_visite
              - visite_reception_travaux
              - visite_periodique
              - visite_inopinee
              - visite_controle
            description: |-
              Type du passage en commission.

              Valeurs possibles :
              * salle : Passage en commission en salle.
              * visite_de_securite : Visite de sécurité.
              * groupe_de_visite : Groupe de visite.
              * visite_reception_travaux : Visite de réception de travaux.
              * visite_periodique : Visite périodique.
              * visite_inopinee : Visite inopinée.
              * visite_controle : Visite de contrôle.
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Tableau d'objets contenu dans la page.
                    type: array
                    maxItems: 100
                    items:
                      $ref: '#/components/schemas/PassageCommission'
                  meta:
                    description: Métadonnées de la pagination.
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
                    required:
                      - pagination
                required:
                  - data
                  - meta
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: paginate-commission-dates
    post:
      tags:
        - Commissions API
      summary: Ajout d'une date de passage en commission
      description: Ajout d'une date de passage en commission.
      operationId: PostDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          description: Commission Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Passage en Commission
              description: Représente une date de passage en commission.
              properties:
                date_debut:
                  description: Date de début du passage en commission programmée.
                  type: string
                  format: date-time
                  maxLength: 50
                  minLength: 20
                date_fin:
                  description: Date de fin du passage en commission programmée.
                  type: string
                  format: date-time
                  maxLength: 50
                  minLength: 20
                type:
                  description: |-
                    Type du passage en commission.

                    Valeurs possibles :
                    * salle : Passage en commission en salle.
                    * visite_de_securite : Visite de sécurité.
                    * groupe_de_visite : Groupe de visite.
                    * visite_reception_travaux : Visite de réception de travaux.
                    * visite_periodique : Visite périodique.
                    * visite_inopinee : Visite inopinée.
                    * visite_controle : Visite de contrôle.
                  type: string
                  enum:
                    - salle
                    - visite_de_securite
                    - groupe_de_visite
                    - visite_reception_travaux
                    - visite_periodique
                    - visite_inopinee
                    - visite_controle
                libelle:
                  description: Libellé de la date de passage en commission. Souvent utile pour affichage aux utilisateurs.
                  type: string
                  maxLength: 256
              required:
                - date_debut
                - date_fin
                - type
                - libelle
              additionalProperties: false
              x-extension-metarisc-codegen-schema-src: '#/components/schemas/PassageCommission'
              x-extension-metarisc-codegen-context: create
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassageCommission'
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: post-commission-date
  /commissions/{commission_id}/dates/{passage_id}:
    patch:
      tags:
        - Commissions API
      summary: Mettre à jour un passage en commission
      description: Modification d'un passage en commission existant en définissant les valeurs des paramètres transmis. Tous les paramètres non fournis resteront inchangés.
      operationId: PatchPassageDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          description: Commission Id
          schema:
            type: string
            maxLength: 255
        - name: passage_id
          in: path
          required: true
          description: Passage Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Passage en Commission
              description: Représente une date de passage en commission.
              properties:
                date_debut:
                  description: Date de début du passage en commission programmée.
                  type: string
                  format: date-time
                  maxLength: 50
                  minLength: 20
                date_fin:
                  description: Date de fin du passage en commission programmée.
                  type: string
                  format: date-time
                  maxLength: 50
                  minLength: 20
                type:
                  description: |-
                    Type du passage en commission.

                    Valeurs possibles :
                    * salle : Passage en commission en salle.
                    * visite_de_securite : Visite de sécurité.
                    * groupe_de_visite : Groupe de visite.
                    * visite_reception_travaux : Visite de réception de travaux.
                    * visite_periodique : Visite périodique.
                    * visite_inopinee : Visite inopinée.
                    * visite_controle : Visite de contrôle.
                  type: string
                  enum:
                    - salle
                    - visite_de_securite
                    - groupe_de_visite
                    - visite_reception_travaux
                    - visite_periodique
                    - visite_inopinee
                    - visite_controle
                libelle:
                  description: Libellé de la date de passage en commission. Souvent utile pour affichage aux utilisateurs.
                  type: string
                  maxLength: 256
              additionalProperties: false
              x-extension-metarisc-codegen-schema-src: '#/components/schemas/PassageCommission'
              x-extension-metarisc-codegen-context: update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassageCommission'
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: patch-passage-dates-commission
      x-extension-metarisc-codegen-visibility: public
  /commissions/{commission_id}:
    get:
      tags:
        - Commissions API
      summary: Détails de la commission
      description: Récupération des détails de la commission.
      operationId: GetCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          description: Commission Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              schema:
                type: string
                enum:
                  - '*'
        '400':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Indique combien de temps le client doit attendre avant de faire une nouvelle requête.
              schema:
                type: string
                maxLength: 256
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Bad Request
          headers:
            RateLimit-Limit:
              description: Header pour afficher la limite autorisée jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Reset:
              description: Header pour afficher le temps restant (en secondes) jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            RateLimit-Remaining:
              description: Header pour afficher le nombre de requêtes disponibles jusqu'à ce que le quota soit réinitialisé
              schema:
                type: integer
                format: int32
                minimum: 1
                maximum: 50
            Access-Control-Allow-Origin:
              description: Indique si la réponse peut être partagée avec la requête provenant d'une origine donnée.
              schema:
                type: string
                enum:
                  - '*'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: get-commission
    patch:
      tags:
        - Commissions API
      summary: Mettre à jour d'une Commission
      description: Modification d'une commission existant en définissant les valeurs des paramètres transmis. Tous les paramètres non fournis resteront inchangés.
      operationId: PatchCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          description: Commission Id
          schema:
            type: string
            maxLength: 255
        - in: header
          name: Metarisc-Org-Id
          description: Identifiant de l'organisation Metarisc sur laquelle réaliser l'appel.
          schema:
            type: string
            format: uuid
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Objet Commission
              description: Une commission est un organisme compétent pour donner des avis.
              properties:
                type:
                  description: |-
                    Type de la commission (peut être une commission de sécurité, un conseil départemental ...).

                    Valeurs possibles :
                    * Sous-commission départementale : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur le département.
                    * Commission communale : Commission de sécurité des établissements recevant du public (ERP) et des immeubles de grande hauteur (IGH) compétente sur une commune.
[...]
