openapi: 3.0.3
info:
  version: '1.0'
  title: Metarisc API
  contact:
    email: contact@metarisc.fr
    name: Metarisc
    url: https://metarisc.fr
  license:
    url: http://www.cecill.info/licences/Licence_CeCILL-B_V1-fr.html
    name: CECILL-B
servers:
  - url: https://api.metarisc.fr
    description: Production
  - url: https://testlp7ijwog-gateway.functions.fnc.fr-par.scw.cloud
    description: Développement
  - url: https://testlp7ijwog-mock.functions.fnc.fr-par.scw.cloud
    description: Mock Server
paths:
  /anomalies:
    get:
      tags:
        - Anomalies API
      summary: Liste des anomalies
      description: Liste des anomalies.
      operationId: PaginateAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: texte
          in: query
          description: Filtre sur le texte de l'anomalie
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnomalieDECI'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: paginate-anomalies
    post:
      tags:
        - Anomalies API
      summary: Ajout d'une anomalie
      description: Ajout d'une nouvelle anomalie DECI type pour une organisation.
      operationId: PostAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnomalieDECI'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalieDECI'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: post-anomalie
  /anomalies/{anomalie_id}:
    delete:
      tags:
        - Anomalies API
      summary: Suppression d'une anomalie
      description: Suppression d'une anomalie DECI type.
      operationId: DeleteAnomalieAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: anomalie_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: delete-anomalie
    get:
      tags:
        - Anomalies API
      summary: Détails d'une anomalie
      description: Détails d'une anomalie type DECI.
      operationId: GetAnomalieAnomalies
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: anomalie_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalieDECI'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: anomalies
      x-extension-metarisc-codegen-operation: get-anomalie
  /commissions:
    get:
      tags:
        - Commissions API
      summary: Liste des commissions
      description: Liste des commissions.
      operationId: PaginateCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Commission'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: paginate-commissions
    post:
      tags:
        - Commissions API
      summary: Ajouter une commission
      description: Ajoute une commission.
      operationId: PostCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Commission'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: post-commission
  /commissions/{commission_id}/dates:
    get:
      tags:
        - Commissions API
      summary: Liste des dates de passage prévues de la commission
      description: Récupération de la liste des dates de passage de la commission.
      operationId: PaginateDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PassageCommission'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: paginate-commission-dates
    post:
      tags:
        - Commissions API
      summary: Ajout d'une date de passage en commission
      description: Ajout d'une date de passage en commission.
      operationId: PostDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassageCommission'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassageCommission'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: post-commission-date
  /commissions/{commission_id}/dates/{date_id}:
    get:
      tags:
        - Commissions API
      summary: Détail d'une date de passage en commission
      description: Récupération d'une date de passage en commission.
      operationId: GetDateDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          schema:
            type: string
        - name: date_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassageCommission'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: get-commission-date
  /commissions/{commission_id}/dates/{date_id}/ordre_du_jour:
    get:
      tags:
        - Commissions API
      summary: Liste des dossiers d'une date de passage en commission
      description: >-
        Récupération d'une liste de dossiers à l'ordre du jour liés à une date
        de passage en commission.
      operationId: PaginateOrdreDuJourDateDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          schema:
            type: string
        - name: date_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PassageCommissionDossier'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: paginate-commission-date-dossiers
    post:
      tags:
        - Commissions API
      summary: Ajout d'un dossier à l'ordre du jour
      description: Ajout d'un dossier à l'ordre du jour d'un passage en commission.
      operationId: PostOrdreDuJourDateDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          schema:
            type: string
        - name: date_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassageCommissionDossier'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassageCommissionDossier'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: post-commission-date-dossier
  /commissions/{commission_id}/dates/{date_id}/ordre_du_jour/{dossier_id}:
    post:
      tags:
        - Commissions API
      summary: Mise à jour d'un dossier lié à une date de passage en commission
      description: >-
        Mise à jour des détails d'un dossier lié à une date de passage en
        commission
      operationId: PostDossierOrdreDuJourDateDatesCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          schema:
            type: string
        - name: date_id
          in: path
          required: true
          schema:
            type: string
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassageCommissionDossier'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassageCommissionDossier'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: update-commission-date-dossier
  /commissions/{commission_id}:
    get:
      tags:
        - Commissions API
      summary: Détails de la commission
      description: Récupération des détails de la commission.
      operationId: GetCommissionCommissions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: commission_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: commissions
      x-extension-metarisc-codegen-operation: get-commission
  /contacts:
    get:
      tags:
        - Contacts API
      summary: Liste des contacts
      description: Récupération de la liste des contacts.
      operationId: PaginateContacts
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: contacts
      x-extension-metarisc-codegen-operation: paginate-contacts
      x-extension-metarisc-codegen-visibility: public
  /contacts/{contact_id}:
    delete:
      tags:
        - Contacts API
      summary: Suppression d'un contact
      description: Suppression d'une fiche contact existante.
      operationId: DeleteContactContacts
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: contacts
      x-extension-metarisc-codegen-operation: delete-contact
    get:
      tags:
        - Contacts API
      summary: Détails d'un contact
      description: Récupération d'une fiche contact.
      operationId: GetContactContacts
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: contacts
      x-extension-metarisc-codegen-operation: get-contact
    post:
      tags:
        - Contacts API
      summary: Mise à jour d'un contact
      description: Mise à jour d'une fiche contact existante.
      operationId: PostContactContacts
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: contacts
      x-extension-metarisc-codegen-operation: update-contact
  /documents:
    get:
      tags:
        - Documents API
      summary: Liste des documents
      description: Récupération de la liste des documents.
      operationId: PaginateDocuments
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PieceJointe'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: documents
      x-extension-metarisc-codegen-operation: paginate
      x-extension-metarisc-codegen-visibility: public
  /documents/{document_id}:
    delete:
      tags:
        - Documents API
      summary: Suppression d'un document
      description: Suppression d'un document existant.
      operationId: DeleteDocumentDocuments
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: documents
      x-extension-metarisc-codegen-operation: delete-document
    get:
      tags:
        - Documents API
      summary: Détails d'un document
      description: Récupération d'un document.
      operationId: GetDocumentDocuments
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PieceJointe'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: documents
      x-extension-metarisc-codegen-operation: get-document
    post:
      tags:
        - Documents API
      summary: Mise à jour d'un document
      description: Mise à jour d'un document existant.
      operationId: PostDocumentDocuments
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: document_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PieceJointe'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PieceJointe'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: documents
      x-extension-metarisc-codegen-operation: post-document
  /dossiers:
    get:
      tags:
        - Dossiers API
      summary: Liste des dossiers
      description: Récupération de la liste des dossiers selon des critères de recherche.
      operationId: PaginateDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dossier'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: paginate-dossiers
      x-extension-metarisc-codegen-visibility: public
  /dossiers/{dossier_id}/contacts:
    get:
      tags:
        - Dossiers API
      summary: Liste des contacts
      description: Récupération de la liste des contacts.
      operationId: PaginateContactsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: paginate-dossier-contacts
    post:
      tags:
        - Dossiers API
      summary: Ajout d'un contact
      description: Ajout d'un contact.
      operationId: PostContactsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: post-contacts-dossier
  /dossiers/{dossier_id}/documents:
    get:
      tags:
        - Dossiers API
      summary: Liste des documents
      description: Récupération de la liste des documents.
      operationId: PaginateDocumentsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PieceJointe'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: paginate-dossier-documents
    post:
      tags:
        - Dossiers API
      summary: Ajout d'un document
      description: Ajout d'un document.
      operationId: PostDocumentsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PieceJointe'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PieceJointe'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: post-documents-dossier
  /dossiers/{dossier_id}:
    get:
      tags:
        - Dossiers API
      summary: Détails d'un dossier
      description: Récupération de l'ensemble des données d'un dossier.
      operationId: GetDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dossier'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: get-dossier
      x-extension-metarisc-codegen-visibility: public
    post:
      tags:
        - Dossiers API
      summary: Mettre à jour un dossier
      description: Modification d'un dossier existant
      operationId: PostDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dossier'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dossier'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: patch-dossier
      x-extension-metarisc-codegen-visibility: public
  /dossiers/{dossier_id}/tags:
    get:
      tags:
        - Dossiers API
      summary: Liste des tags
      description: Récupération de la liste des tags d'un dossier.
      operationId: PaginateTagsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: paginate-dossier-tags
      x-extension-metarisc-codegen-visibility: public
  /dossiers/{dossier_id}/workflows:
    get:
      tags:
        - Dossiers API
      summary: Liste des workflows
      description: Récupération de la liste des workflows d'un dossier.
      operationId: PaginateWorkflowsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: dossier_id
          in: path
          description: Identifiant unique du Dossier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workflow'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: paginate-dossier-workflows
      x-extension-metarisc-codegen-visibility: public
  /dossiers/{dossier_id}/workflows/{workflow_id}/documents:
    get:
      tags:
        - Dossiers API
      summary: Liste des documents
      description: Récupération de la liste des documents.
      operationId: PaginateDocumentsWorkflowWorkflowsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PieceJointe'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: paginate-dossier-workflows-workflow-documents
    post:
      tags:
        - Dossiers API
      summary: Ajout d'un document
      description: Ajout d'un document.
      operationId: PostDocumentsWorkflowWorkflowsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PieceJointe'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PieceJointe'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: post-documents-workflow-workflows-dossier
  /dossiers/{dossier_id}/workflows/{workflow_id}:
    get:
      tags:
        - Dossiers API
      summary: Détails d'un workflow
      description: Récupération des détails d'un workflow.
      operationId: GetWorkflowWorkflowsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          description: Identifiant unique du Dossier
          required: true
          schema:
            type: string
        - name: workflow_id
          in: path
          description: Identifiant unique du Workflow
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: get-dossier-workflows-details
    post:
      tags:
        - Dossiers API
      summary: Mise à jour d'un workflow
      description: Mise à jour d'un workflow.
      operationId: PostWorkflowWorkflowsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          description: Identifiant unique du Dossier
          required: true
          schema:
            type: string
        - name: workflow_id
          in: path
          description: Identifiant unique du Workflow
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: update-dossier-workflows-details
  /dossiers/{dossier_id}/workflows/{workflow_id}/terminer:
    post:
      tags:
        - Dossiers API
      summary: Terminer un workflow
      description: >-
        Terminer un workflow d'un dossier. Cela met à jour l'ensemble de son
        traitement.
      operationId: PostTerminerWorkflowWorkflowsDossierDossiers
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: dossier_id
          in: path
          required: true
          schema:
            type: string
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: dossiers
      x-extension-metarisc-codegen-operation: post-terminer-workflow-workflows-dossier
  /erp:
    get:
      tags:
        - ERP API
      summary: Liste des ERP
      description: Récupération de la liste des ERP.
      operationId: PaginateErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ERP'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: paginate-erp
    post:
      tags:
        - ERP API
      summary: Créer un ERP
      description: Création d'un nouveau ERP.
      operationId: PostErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ERP'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERP'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: post-erp
      x-extension-metarisc-codegen-visibility: public
  /erp/{erp_id}/contacts:
    get:
      tags:
        - ERP API
      summary: Liste des contacts
      description: Récupération de la liste des contacts.
      operationId: PaginateContactsErpErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: erp_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: paginate-erp-contacts
    post:
      tags:
        - ERP API
      summary: Ajout d'un contact
      description: Ajout d'un contact.
      operationId: PostContactsErpErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: erp_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: post-contacts-erp
  /erp/{erp_id}/documents:
    get:
      tags:
        - ERP API
      summary: Liste des documents
      description: Récupération de la liste des documents.
      operationId: PaginateDocumentsErpErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: erp_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PieceJointe'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: paginate-erp-documents
    post:
      tags:
        - ERP API
      summary: Ajout d'un document
      description: Ajout d'un document.
      operationId: PostDocumentsErpErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: erp_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PieceJointe'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PieceJointe'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: post-documents-erp
  /erp/{erp_id}/dossiers:
    get:
      tags:
        - ERP API
      summary: Liste des dossiers
      description: Récupération de la liste des dossiers.
      operationId: PaginateDossiersErpErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: erp_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dossier'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: paginate-erp-dossiers
    post:
      tags:
        - ERP API
      summary: Ajout d'un dossier
      description: Ajout d'un dossier.
      operationId: PostDossiersErpErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: erp_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dossier'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dossier'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: post-dossiers-erp
  /erp/{erp_id}:
    get:
      tags:
        - ERP API
      summary: Récupération des détails de l'ERP
      description: Récupération des détails de l'ERP.
      operationId: GetErpErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: erp_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ERP'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: get-erp
  /erp/{erp_id}/historique:
    get:
      tags:
        - ERP API
      summary: Historique d'un ERP
      description: Récupération de l'historique d'un ERP.
      operationId: PaginateHistoriqueErpErp
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: erp_id
          in: path
          description: Identifiant unique de l'ERP
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DescriptifTechniqueERP'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: erp
      x-extension-metarisc-codegen-operation: paginate-erp-historique
  /evenements:
    get:
      tags:
        - Evenements API
      summary: Liste des événements
      description: Récupération des détails de tous les événements calendaires existants.
      operationId: PaginateEvenements
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: period
          in: query
          description: >-
            La période (ISO 8601) séparée par un slash (/) pendant laquelle
            l'événement se déroule. Exemple 2004-12-02T23:00/2005-01-01T12:30.
          schema:
            type: string
        - name: type
          in: query
          description: Le type d'événement.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Evenement'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: evenements
      x-extension-metarisc-codegen-operation: paginate-evenements
    post:
      tags:
        - Evenements API
      summary: Ajout d'un événement
      description: Création d'un événement.
      operationId: PostEvenements
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Evenement'
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evenement'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: evenements
      x-extension-metarisc-codegen-operation: post-evenement
  /evenements/{evenement_id}:
    delete:
      tags:
        - Evenements API
      summary: Suppression d'un événement
      description: Suppression d'un événement.
      operationId: DeleteEvenementEvenements
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: evenement_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: evenements
      x-extension-metarisc-codegen-operation: delete-evenement
    get:
      tags:
        - Evenements API
      summary: Récupération des détails d'un événement
      description: Récupération des détails d'un événement correspondant à l'id donné.
      operationId: GetEvenementEvenements
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: evenement_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Evenement'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evenement'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: evenements
      x-extension-metarisc-codegen-operation: get-evenement-details
  /evenements/{evenement_id}/utilisateurs:
    get:
      tags:
        - Evenements API
      summary: Liste des utilisateurs liés à un événement
      description: >-
        Récupération d'une liste paginée d'utilisateurs liés à un événement
        calendaire.
      operationId: PaginateUtilisateursEvenementEvenements
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: evenement_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Utilisateur'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: evenements
      x-extension-metarisc-codegen-operation: paginate-evenement-utilisateurs
  /feed:
    get:
      tags:
        - Feed API
      summary: Liste des messages du feed
      description: >-
        Récupération d'une liste de message composant un flux d'activité pour
        l'utilisateur connecté.
      operationId: PaginateFeed
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeedMessage'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: feed
      x-extension-metarisc-codegen-operation: paginate-feed-messages
    post:
      tags:
        - Feed API
      summary: Ajoute un message dans le feed
      description: Ajoute un message dans le feed général.
      operationId: PostFeed
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedMessage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedMessage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: feed
      x-extension-metarisc-codegen-operation: post-message
  /notifications:
    get:
      tags:
        - Notifications API
      summary: Liste des notifications
      description: >-
        Récupération des détails de toutes les notifications existantes pour
        l'utilisateur connecté.
      operationId: PaginateNotifications
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: notifications
      x-extension-metarisc-codegen-operation: paginate-notifications
    post:
      tags:
        - Notifications API
      summary: Déclenchement d'une notification
      description: Création d'une notification.
      operationId: PostNotifications
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: notifications
      x-extension-metarisc-codegen-operation: post-notification
  /notifications/{notification_id}:
    delete:
      tags:
        - Notifications API
      summary: Suppression d'une notification
      description: Suppression d'une notification correspondante à l'id donné.
      operationId: DeleteNotificationNotifications
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: notifications
      x-extension-metarisc-codegen-operation: delete-notification
    get:
      tags:
        - Notifications API
      summary: Récupération des détails d'une notification
      description: Récupération des détails d'une notification correspondante à l'id donné.
      operationId: GetNotificationNotifications
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: notifications
      x-extension-metarisc-codegen-operation: get-notification
  /organisations:
    get:
      tags:
        - Organisations API
      summary: Liste des organisations
      description: Liste paginée des organisations.
      operationId: PaginateOrganisations
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organisation'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: organisations
      x-extension-metarisc-codegen-operation: paginate-organisations
  /organisations/{org_id}/dossiers-workflows-suites:
    get:
      tags:
        - Organisations API
      summary: Référentiel des workflows d'un dossier
      description: >-
        Retourne le référentiel du paramétrage des workflows pour
        l'organisation.
      operationId: PaginateDossiersWorkflowsSuitesOrgOrganisations
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowType'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: organisations
      x-extension-metarisc-codegen-operation: paginate-organisation-dossiers-workflows-suites
  /organisations/{org_id}/geoservices:
    get:
      tags:
        - Organisations API
      summary: Liste des géo-services d'une organisation
      description: Récupération de la liste des géo-services d'une organisation.
      operationId: PaginateGeoservicesOrgOrganisations
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganisationGeoservice'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: organisations
      x-extension-metarisc-codegen-operation: paginate-organisation-geoservices
  /organisations/{org_id}:
    get:
      tags:
        - Organisations API
      summary: Détails d'une organisation
      description: Récupération des détails d'une organisation.
      operationId: GetOrgOrganisations
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: organisations
      x-extension-metarisc-codegen-operation: get-organisation
  /organisations/{org_id}/membres:
    get:
      tags:
        - Organisations API
      summary: Liste des membres d'une organisation
      description: Récupération de la liste des membres d'une organisation.
      operationId: PaginateMembresOrgOrganisations
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganisationMembre'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: organisations
      x-extension-metarisc-codegen-operation: paginate-organisation-membres
    post:
      tags:
        - Organisations API
      summary: Ajout d'un membre
      description: Ajout d'un utilisateur comme membre dans une organisation.
      operationId: PostMembresOrgOrganisations
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationMembre'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationMembre'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: organisations
      x-extension-metarisc-codegen-operation: add-organisation-membres
  /organisations/{org_id}/regles-deci:
    get:
      tags:
        - Organisations API
      summary: Ensemble de règles DECI
      description: >-
        Ensemble de règles utilisées pour le calcul de la conformité et de la
        performance DECI.
      operationId: GetReglesDeciOrgOrganisations
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pibi_conformite_matrice_seuil_pesee_1bar_par_nature:
                    type: object
                  pibi_performance_natures_performance_restreinte:
                    type: array
                    items:
                      type: string
                  pibi_performance_natures_a_reformer:
                    type: array
                    items:
                      type: string
                  pibi_performance_seuil_pesee_1bar:
                    type: integer
                  pibi_conformite_seuil_surpression:
                    type: integer
                  pibi_conformite_matrice_seuil_pesee_1bar_par_defaut:
                    type: integer
                  pena_conformite_seuil_volume_citerne:
                    type: integer
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: organisations
      x-extension-metarisc-codegen-operation: get-organisation-regles-deci
  /pei:
    get:
      tags:
        - PEI API
      summary: Liste des Points d'Eau Incendie
      description: >-
        Récupération de la liste des Points d'Eau Incendie (PEI) selon des
        critères de recherche.
      operationId: PaginatePei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: geojson
          in: query
          description: Filtre sur la position des PEI
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PEI'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: paginate-pei
    post:
      tags:
        - PEI API
      summary: Ajout d'un PEI
      description: Ajout d'un PEI.
      operationId: PostPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PEI'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PEI'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: post-pei
  /pei/{pei_id}/contacts:
    get:
      tags:
        - PEI API
      summary: Liste des contacts
      description: Récupération de la liste des contacts.
      operationId: PaginateContactsPeiPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: paginate-pei-contacts
    post:
      tags:
        - PEI API
      summary: Ajout d'un contact
      description: Ajout d'un contact.
      operationId: PostContactsPeiPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: post-contacts-pei
  /pei/{pei_id}/documents:
    get:
      tags:
        - PEI API
      summary: Liste des documents
      description: Récupération de la liste des documents.
      operationId: PaginateDocumentsPeiPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PieceJointe'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: paginate-pei-documents
    post:
      tags:
        - PEI API
      summary: Ajout d'un document
      description: Ajout d'un document.
      operationId: PostDocumentsPeiPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PieceJointe'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PieceJointe'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: post-documents-pei
  /pei/{pei_id}/dossiers:
    get:
      tags:
        - PEI API
      summary: Liste des dossiers
      description: Récupération de la liste des dossiers.
      operationId: PaginateDossiersPeiPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dossier'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: paginate-pei-dossiers
    post:
      tags:
        - PEI API
      summary: Ajout d'un dossier
      description: Ajout d'un dossier.
      operationId: PostDossiersPeiPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dossier'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dossier'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: post-dossiers-pei
  /pei/{pei_id}:
    get:
      tags:
        - PEI API
      summary: Récupération des détails d'un Point d'Eau Incendie
      description: Récupération de l'ensemble des données d'un PEI.
      operationId: GetPeiPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: pei_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PEI'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: get-pei
  /pei/{pei_id}/historique:
    get:
      tags:
        - PEI API
      summary: Historique d'un Point d'Eau Incendie
      description: Récupération de l'historique d'un POI.
      operationId: PaginateHistoriquePeiPei
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: pei_id
          in: path
          description: Identifiant unique du PEI
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DescriptifTechniqueDECI'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: pei
      x-extension-metarisc-codegen-operation: paginate-pei-historique
  /prescriptions:
    get:
      tags:
        - Prescriptions API
      summary: Liste des prescriptions
      description: Liste des prescriptions.
      operationId: PaginatePrescriptions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Prescription'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: prescriptions
      x-extension-metarisc-codegen-operation: paginate-prescriptions
    post:
      tags:
        - Prescriptions API
      summary: Ajout d'une prescription type
      description: Ajout d'une nouvelle prescription type dans la bibliothèque.
      operationId: PostPrescriptions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prescription'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: prescriptions
      x-extension-metarisc-codegen-operation: post-prescription
  /prescriptions/{prescription_id}:
    delete:
      tags:
        - Prescriptions API
      summary: Suppression d'une prescription type
      description: Suppression d'une prescription type de la bibliothèque.
      operationId: DeletePrescriptionPrescriptions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: prescription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: prescriptions
      x-extension-metarisc-codegen-operation: delete-prescription
    get:
      tags:
        - Prescriptions API
      summary: Détails d'une prescription type
      description: Récupération des détails d'une prescription dans la bibliothèque.
      operationId: GetPrescriptionPrescriptions
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: prescription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: prescriptions
      x-extension-metarisc-codegen-operation: get-prescription
  /supports_reglementaires:
    get:
      tags:
        - Prescriptions API
      summary: Liste des supports réglementaires
      description: Liste des supports réglementaires.
      operationId: PaginateSupportsReglementaires
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrescriptionSupportReglementaire'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: supports_reglementaires
      x-extension-metarisc-codegen-operation: paginate-supports-reglementaires
    post:
      tags:
        - Prescriptions API
      summary: Ajout d'un support réglementaire
      description: Ajouter un support réglementaire.
      operationId: PostSupportsReglementaires
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionSupportReglementaire'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionSupportReglementaire'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: supports_reglementaires
      x-extension-metarisc-codegen-operation: post-support-reglementaire
  /supports_reglementaires/{support_reglementaire_id}:
    delete:
      tags:
        - Prescriptions API
      summary: Suppression d'un support réglementaire
      description: Suppression d'un support réglementaire.
      operationId: DeleteSupportReglementaireSupportsReglementaires
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: support_reglementaire_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: supports_reglementaires
      x-extension-metarisc-codegen-operation: delete-support-reglementaire
    get:
      tags:
        - Prescriptions API
      summary: Détails d'un support réglementaire
      description: Récupération des détails d'un support réglementaire.
      operationId: GetSupportReglementaireSupportsReglementaires
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: support_reglementaire_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionSupportReglementaire'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: supports_reglementaires
      x-extension-metarisc-codegen-operation: get-support-reglementaire
  /tournees_deci:
    get:
      tags:
        - Tournées DECI API
      summary: Liste des tournées DECI
      description: Liste des tournées DECI.
      operationId: PaginateTourneesDeci
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: libelle
          in: query
          description: Filtre sur le libellé
          schema:
            type: string
        - name: periode
          in: query
          description: Filtre sur les dates
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TourneeDeci'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/PaginationMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-ispagination: true
      x-extension-metarisc-codegen-name: tournees_deci
      x-extension-metarisc-codegen-operation: paginate-tournees-deci
    post:
      tags:
        - Tournées DECI API
      summary: Ajout d'une Tournée DECI
      description: Ajout d'une nouvelle tournée DECI.
      operationId: PostTourneesDeci
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TourneeDeci'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TourneeDeci'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: tournees_deci
      x-extension-metarisc-codegen-operation: post-tournee-deci
  /tournees_deci/{tournee_deci_id}:
    get:
      tags:
        - Tournées DECI API
      summary: Détails de la tournée DECI
      description: Récupération des détails de la tournée DECI.
      operationId: GetTourneeDeciTourneesDeci
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: tournee_deci_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TourneeDeci'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: tournees_deci
      x-extension-metarisc-codegen-operation: get-tournee-deci
    post:
      tags:
        - Tournées DECI API
      summary: Mise à jour de la tournée DECI
      description: Mise à jour de la tournée DECI.
      operationId: PostTourneeDeciTourneesDeci
      security:
        - IdMetariscFr:
            - openid
            - email
            - profile
      parameters:
        - name: tournee_deci_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TourneeDeci'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TourneeDeci'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-extension-metarisc-codegen-name: tournees_deci
[...]
